<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">公司名称：</label>
                            <div class="col-sm-3">
                                <input id="name_cn" name="nameCn" class="form-control" type="text">
                            </div>
                            <label class="col-sm-3 control-label">公司名称（英文）：</label>
                            <div class="col-sm-3">
                                <input id="name_en" name="nameEn" class="form-control"  oninput="value=value.replace(/[^a-zA-Z]/g,'')"
                                       onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^a-zA-Z]/g,''))" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公司简称：</label>
                            <div class="col-sm-3">
                                <input id="abbreviation" name="abbreviation" class="form-control"
                                       type="text">
                            </div>
                            <label class="col-sm-3 control-label">供应商编码：</label>
                            <div class="col-sm-3">
                                <input id="code" name="code" class="form-control" oninput = "value=value.replace(/[^\d]/g,'')"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">供应商性质：</label>
                            <div class="col-sm-3">
                                <select id="nature" name="nature" class="form-control"
                                       type="text">
                                    <option value="生产商">生产商</option>
                                    <option value="进出口">进出口</option>
                                </select>
                            </div>
<!--                        </div>-->
<!--                        <div class="form-group">-->
                            <label class="col-sm-3 control-label">企业性质：</label>
                            <div class="col-sm-3">
                                <select id="property" name="property" class="form-control"
                                       type="text">
                                    <option value="私营">私营</option>
                                    <option value="国企">国企</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">通讯地址：</label>
                            <div class="col-sm-3">
                                <input id="mailing_address" name="mailingAddress" class="form-control"
                                       type="text">
                            </div>
<!--                        </div>-->
<!--                        <div class="form-group">-->
                            <label class="col-sm-3 control-label">邮政编码：</label>
                            <div class="col-sm-3">
                                <input id="post_code" name="postCode" class="form-control" oninput = "value=value.replace(/[^\d]/g,'')"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公司网址：</label>
                            <div class="col-sm-3">
                                <input id="company_website" name="companyWebsite" class="form-control"
                                       type="url">
                            </div>
                            <button id="TianYan"  type="button" value="添加" onclick="Ty()"></button>
<!--                        </div>-->
<!--                        <div class="form-group">-->
                            <label class="col-sm-3 control-label">工商注册地：</label>
                            <div class="col-sm-3">
                                <input id="businessRegistration" name="businessRegistration" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">注册资本：</label>
                            <div class="col-sm-3">
                                <input id="registeredCapital" name="registeredCapital" class="form-control"
                                       type="text">
                            </div>
<!--                        </div>-->
<!--                        <div class="form-group">-->
                            <label class="col-sm-3 control-label">成立日期：</label>
                            <div class="col-sm-3" >
                                <input id="dateEstablishment"  name="dateEstablishment" class="form-control"
                                       type="text" >
<!--                                <span class="input-group-addon">-->
<!--                                    <span class="glyphicon glyphicon-calendar"></span>-->
<!--                                </span>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">组织机构代码：</label>
                            <div class="col-sm-3">
                                <input id="organizationCode" name="organizationCode" class="form-control" oninput="value=value.replace(/[^\d|chun]/g,'')"
                                       type="text">
                            </div>
<!--                        </div>-->
<!--                        <div class="form-group">-->
                            <label class="col-sm-3 control-label">人员规模：</label>
                            <div class="col-sm-3">
                                <input id="staffSize" name="staffSize" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">供应商联系人：</label>
                            <div class="col-sm-3">
                                <input id="contact_id" name="contactId" class="form-control"
                                       type="text">
                            </div>
<!--                        </div>-->

<!--                        <div class="form-group">-->
<!--                            <label class="col-sm-3 control-label">状态:</label>-->
<!--                            <div class="col-sm-3">-->
<!--                                <label class="radio-inline"> <input type="radio"-->
<!--                                                                    name="staus" value="1" /> 正常-->
<!--                                </label> <label class="radio-inline"> <input type="radio"-->
<!--                                                                             name="staus" value="0" /> 禁用-->
<!--                            </label>-->
<!--                            </div>-->
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="button" class="btn btn-primary" onclick="save()">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/srm/supplier/add.js">
</script>
<script type="text/javascript" src="/js/appjs/srm/supplier/Ty.js">
</script>
</body>
</html>
