<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript">

        $(document).on('click','#tijiao',function(){
        username=$("#username").val();
        password=$("#password").val();

           $.ajax({
                  url:"/xgs/checklogin",
                  type:"post",
                  data:{"username":username,"password":password},
                  datatype:"json",
                  success:function(result){
                      if(result.status==0){
                      alert(result.msg);
                      window.location.href="/login";

                      }else{
                      alert(result.msg);
                      }

                  },
                  error:function(){
                   alert("系统错误")
                  }

           });
        });


    </script>
</head>
<body>
<div>
    <span>
         用户名<input type="text" id="username">
    </span>
   <span>
    密码<input type="text" id="password">
       </span>
</div>
<div>
    <span>
        登录:
        <button type="submit" id="tijiao"  />
    </span>


</div>


<span id="logo">
	<img src="../images/tcs50-white1.png"/>

</span>
</body>
</html>