<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="achieveId" name="achieveId" type="hidden"
                               th:value="${achieveId}">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">按时交货率：</label>
                            <div class="col-sm-8">
                                <input id="qualified_batches" name="qualified_batches" class="form-control" type="text" placeholder="权重%10" onmouseover="document.getElementById('d1').style.display='block'"
                                       onmouseout="document.getElementById('d1').style.display='none'">
                                <div id="d1">
                                    按时交货率=按时交货批数/总进料批数&nbsp&nbsp&nbsp&nbsp
                                    得分=按时交货率✖10
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">总进料批数：</label>
                            <div class="col-sm-8">
                                <input id="total_feed_batches" name="total_feed_batches" class="form-control" type="text" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">交货时间及完整资料：</label>
                            <div class="col-sm-8">
                                <input id="perms1" name="perms" class="form-control" type="text"placeholder="权重%5" onmouseover="document.getElementById('d2').style.display='block'"
                                       onmouseout="document.getElementById('d2').style.display='none'">
                                <div id="d2">
                                    供应商文件资料提交的时间和完整资料
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">回复时间：</label>
                            <div class="col-sm-8">
                                <input id="perms2" name="perms" class="form-control" type="text" placeholder="权重%5" onmouseover="document.getElementById('d3').style.display='block'"
                                       onmouseout="document.getElementById('d3').style.display='none'">
                                <div id="d3">
                                    收到订单后必须于两小时之内回复，反之则每发生一次扣一分
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/appjs/srm/menu/add.js"></script>
</body>

</html>
